# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# =========================================
# Database Configuration
# =========================================
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

POSTGRES_DB=furniturestore
POSTGRES_USER=furniturestore
POSTGRES_PASSWORD=randompassword

DATABASE_URL="postgresql://furniturestore:randompassword@localhost:5432/furniturestore?schema=public"

# =========================================
# Feature Flags
# =========================================
USE_MOCK_DATA=false

# =========================================
# Infrastructure
# =========================================
ZONE=layux.mx
SUBDOMAIN=muebleria
CLOUDFLARE_API_KEY=your_api_key_here
CLOUDFLARE_EMAIL=your_email@example.com